body,
html {
  background-image: url("./images/white-crisscross.jpg");
  height: 100vh;
}

img {
  width: 100px;
  height: 50px;
  border: solid thin grey;
}

button {
  margin: 0.25em;
}

.redVote {
  color: red;
}

.greenVote {
  color: green;
}

#wrapper {
  margin-top: 4em;
}

.className {
  display: flex;
  align-self: auto;
}

#loader {
  position: absolute;
  left: 50%;
  top: 40%;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

.voteButtons {
  float: right;
}

.commentButton {
  float: right;
}

.article {
  margin-bottom: 1em;
}

.selected {
  color: red;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
